*{
	 font-family: 'Nunito', sans-serif;
     text-align: center;
}
.error{
	color:#f00;
}
nav{
	background-image: linear-gradient(to right, #427796, gray);
	padding: 2px;
}
nav ul{
	list-style: none;
}
nav ul li{
	display: inline-block;
}
nav a, nav a:visited {
	padding: 10px;
	border:1px lightgray solid;
	color: lightgray;
	text-decoration: none;
}
#regback {
            background-image: url(../images/regback1.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
}
#regback img{
            opacity: 0.1;
        }

